
<!DOCTYPE html>
<body>


<div style="width: 350px; margin: auto;
  height: 60px" class="header">
    <h1> Task list App</h1>
</div>
<hr>
<div style="border: outset aqua;width: auto; margin: auto;
text-align: center; background: linear-gradient(darkseagreen,lightseagreen); padding: 10px; height: 100px">
  <div style="float: left;" >

    <app-parent-categories (selectCategory)="onSelectCategory($event)"></app-parent-categories>
  </div>
  <div style="float: right; margin: 20px;">
    <app-add-parent-cat></app-add-parent-cat>
  </div>


</div>
<br><br><br>






<h1 style="text-align: center" >{{currentCategoryId}}:</h1>
<div style="text-align: center ;  ">



  <div *ngFor="let task of this.tempTasks let idx =index"
       style="width: 550px; margin: auto; background: linear-gradient(darkseagreen,lightseagreen) ;border: outset aqua; margin: 10px auto; ">
    <div style="display: flex;justify-content: space-around">

      <p class="styled" style="text-align: right">Priority: {{task.priority}}</p>
      <h2>{{task.title}}</h2>
      <p class="styled">Due Date: {{task.dueDate}}{{task.duedate}}</p>
    </div>
    <div style="display: flex; justify-content: space-evenly ">
      <h3>Completed:  <input type="checkbox"  (click)="completeTask(task.id)" style="margin: auto"></h3>
      <h3> {{task.categoryId}}</h3>
    </div>

    <div style="display: flex; justify-content: space-evenly">
      <h3 style="text-align: center">Description:</h3>
    </div>
    <h4 style="text-align: center"> {{task.description}}</h4>
  </div>

</div>


<br>





<br>

<div style="text-align: center; margin: auto">

  <button class="styled" (click)="onCreate()" >Create a new task!</button>
</div>

<br><br>

<div style="width:50%; margin: auto;text-align: center;">

  <label>Sort</label>
  <select>
    <option >
      Sort
    </option>
    <!--  <option (click)="queueByPriority()">
        Priority
      </option>-->
    <option (click)="queueByNew()">
      Newest
    </option>
    <option (click)="queueByPriority()">
      Oldest
    </option>
  </select>

</div>
<br><br>

</body>
